{% extends 'base.html' %}
{% load static %}

{% block title_page %}
     change password
{% endblock %}

{% block header_reference %}
    <link rel="stylesheet" href="{% static 'blogs/index.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/all_post.css' %}">
{% endblock %}

{% block content_page %}
    <ul><h1>Change Password</h1></ul>
    <form action=""method="post">
    <ul>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
   </ul>
    </form>
{% endblock %}