{% extends 'base.html' %}
{% load static %}

{% block header_reference %}
    <link rel="stylesheet" href="{% static 'blogs/index.css' %}">
    <link rel="stylesheet" href="{% static 'blogs/all_post.css' %}">
{% endblock %}

{% block title_page %}
     ورود
{% endblock %}

{% block content_page %}
 <form action="" method="post">
 <ul dir="rtl">
    <h1 dir="rtl">ورود</h1><br>

        {% csrf_token %}
        <h2 dir="rtl">{{ form_login.as_p }}</h2>
        <button type="submit" style="border-color: #0c0707;font-size: large;color: #e70d0d; "><b>ورود</b></button>

    </ul>
</form>
{% endblock %}